# pandas.set_option

In [1]:
import pandas as pd

In [2]:
pd.Timestamp.today()

Timestamp('2022-11-13 11:59:21.873022')

# Read data International tourism, receipts(current US)

### Wide format

In [5]:
url = 'https://github.com/prasertcbs/basic-dataset/raw/master/intl_tourism_receipts_usd_wdi.xlsx'
df=pd.read_excel(url, sheet_name='Data', skiprows=3)

In [6]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.540000e+08,6.660000e+08,7.260000e+08,7.860000e+08,7.820000e+08,8.500000e+08,...,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.700000e+07,3.800000e+07,2.400000e+07,3.900000e+07,3.100000e+07,3.400000e+07,...,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,NaN
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,7.000000e+07,9.400000e+07,3.400000e+07,6.000000e+07,2.180000e+08,3.980000e+08,...,1.848000e+09,2.014000e+09,1.780000e+09,1.833000e+09,1.623000e+09,1.670000e+09,1.849000e+09,1.614000e+09,1.821000e+09,NaN
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.000000e+07,5.500000e+07,7.000000e+07,8.400000e+07,6.100000e+07,7.300000e+07,...,8.860000e+08,8.990000e+08,1.291000e+09,9.100000e+08,1.005000e+09,1.097000e+09,1.199000e+09,1.160000e+08,NaN,NaN
261,South Africa,ZAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.654000e+09,3.137000e+09,3.422000e+09,3.419000e+09,3.407000e+09,3.338000e+09,...,9.178000e+09,8.684000e+09,1.030900e+10,1.070600e+10,1.120200e+10,1.046800e+10,1.048400e+10,9.140000e+09,8.807000e+09,NaN
262,Zambia,ZMB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,2.900000e+07,4.000000e+07,5.300000e+07,6.700000e+07,...,5.420000e+08,4.740000e+08,4.920000e+08,5.550000e+08,5.180000e+08,5.520000e+08,6.420000e+08,6.600000e+08,6.830000e+08,NaN
263,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1.450000e+08,2.320000e+08,2.050000e+08,1.580000e+08,2.020000e+08,1.250000e+08,...,2.940000e+08,1.290000e+08,1.350000e+08,1.640000e+08,1.740000e+08,1.830000e+08,1.860000e+08,1.910000e+08,1.940000e+08,NaN

In [9]:
pd.set_option('display.max_rows', 6)

In [10]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.540000e+08,6.660000e+08,7.260000e+08,7.860000e+08,7.820000e+08,8.500000e+08,...,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.700000e+07,3.800000e+07,2.400000e+07,3.900000e+07,3.100000e+07,3.400000e+07,...,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,South Africa,ZAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.654000e+09,3.137000e+09,3.422000e+09,3.419000e+09,3.407000e+09,3.338000e+09,...,9.178000e+09,8.684000e+09,1.030900e+10,1.070600e+10,1.120200e+10,1.046800e+10,1.048400e+10,9.140000e+09,8.807000e+09,NaN
262,Zambia,ZMB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,2.900000e+07,4.000000e+07,5.300000e+07,6.700000e+07,...,5.420000e+08,4.740000e+08,4.920000e+08,5.550000e+08,5.180000e+08,5.520000e+08,6.420000e+08,6.600000e+08,6.830000e+08,NaN
263,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1.450000e+08,2.320000e+08,2.050000e+08,1.580000e+08,2.020000e+08,1.250000e+08,...,2.940000e+08,1.290000e+08,1.350000e+08,1.640000e+08,1.740000e+08,1.830000e+08,1.860000e+08,1.910000e+08,1.940000e+08,NaN

In [11]:
pd.reset_option('display.max_rows')
df

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.540000e+08,6.660000e+08,7.260000e+08,7.860000e+08,7.820000e+08,8.500000e+08,...,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.700000e+07,3.800000e+07,2.400000e+07,3.900000e+07,3.100000e+07,3.400000e+07,...,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,NaN
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,7.000000e+07,9.400000e+07,3.400000e+07,6.000000e+07,2.180000e+08,3.980000e+08,...,1.848000e+09,2.014000e+09,1.780000e+09,1.833000e+09,1.623000e+09,1.670000e+09,1.849000e+09,1.614000e+09,1.821000e+09,NaN
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.000000e+07,5.500000e+07,7.000000e+07,8.400000e+07,6.100000e+07,7.300000e+07,...,8.860000e+08,8.990000e+08,1.291000e+09,9.100000e+08,1.005000e+09,1.097000e+09,1.199000e+09,1.160000e+08,NaN,NaN
261,South Africa,ZAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.654000e+09,3.137000e+09,3.422000e+09,3.419000e+09,3.407000e+09,3.338000e+09,...,9.178000e+09,8.684000e+09,1.030900e+10,1.070600e+10,1.120200e+10,1.046800e+10,1.048400e+10,9.140000e+09,8.807000e+09,NaN
262,Zambia,ZMB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,2.900000e+07,4.000000e+07,5.300000e+07,6.700000e+07,...,5.420000e+08,4.740000e+08,4.920000e+08,5.550000e+08,5.180000e+08,5.520000e+08,6.420000e+08,6.600000e+08,6.830000e+08,NaN
263,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1.450000e+08,2.320000e+08,2.050000e+08,1.580000e+08,2.020000e+08,1.250000e+08,...,2.940000e+08,1.290000e+08,1.350000e+08,1.640000e+08,1.740000e+08,1.830000e+08,1.860000e+08,1.910000e+08,1.940000e+08,NaN

In [12]:
pd.set_option('display.max_columns', 100)

In [13]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.540000e+08,6.660000e+08,7.260000e+08,7.860000e+08,7.820000e+08,8.500000e+08,8.250000e+08,8.350000e+08,8.581000e+08,1.056000e+09,1.097000e+09,1.064100e+09,1.213400e+09,1.352000e+09,1.223000e+09,1.254000e+09,1.358000e+09,1.412000e+09,1.506000e+09,1.625000e+09,1.659000e+09,1.638000e+09,NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.700000e+07,9.000000e+07,1.690000e+08,1.520000e+08,1.770000e+08,1.910000e+08,9.200000e+07,8.800000e+07,5.100000e+07,NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.700000e+07,3.800000e+07,2.400000e+07,3.900000e+07,3.100000e+07,3.400000e+07,3.500000e+07,5.100000e+07,6.300000e+07,8.200000e+07,1.030000e+08,9.100000e+07,2.360000e+08,2.930000e+08,5.540000e+08,7.260000e+08,6.530000e+08,7.110000e+08,1.241000e+09,1.597000e+09,1.171000e+09,6.280000e+08,NaN
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,7.000000e+07,9.400000e+07,3.400000e+07,6.000000e+07,2.180000e+08,3.980000e+08,4.510000e+08,4.920000e+08,5.370000e+08,7.560000e+08,8.800000e+08,1.057000e+09,1.479000e+09,1.848000e+09,2.014000e+09,1.780000e+09,1.833000e+09,1.623000e+09,1.670000e+09,1.849000e+09,1.614000e+09,1.821000e+09,NaN
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,5.000000e+07,5.500000e+07,7.000000e+07,8.400000e+07,6.100000e+07,7.300000e+07,3.800000e+07,3.800000e+07,1.390000e+08,1.390000e+08,1.810000e+08,1.810000e+08,4.250000e+08,8.860000e+08,8.990000e+08,1.291000e+09,9.100000e+08,1.005000e+09,1.097000e+09,1.199000e+09,1.160000e+08,NaN,NaN
261,South Africa,ZAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,2.654000e+09,3.137000e+09,3.422000e+09,3.419000e+09,3.407000e+09,3.338000e+09,3.256000e+09,3.695000e+09,6.674000e+09,7.571000e+09,8.629000e+09,9.211000e+09,1.022600e+10,9.178000e+09,8.684000e+09,1.030900e+10,1.070600e+10,1.120200e+10,1.046800e+10,1.048400e+10,9.140000e+09,8.807000e+09,NaN
262,Zambia,ZMB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,2.900000e+07,4.000000e+07,5.300000e+07,6.700000e+07,8.000000e+07,6.400000e+07,8.800000e+07,9.200000e+07,4.470000e+08,5.060000e+08,5.990000e+08,5.420000e+08,4.740000e+08,4.920000e+08,5.550000e+08,5.180000e+08,5.520000e+08,6.420000e+08,6.600000e+08,6.830000e+08,NaN
263,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,1.450000e+08,2.320000e+08,2.050000e+08,1.580000e+08,2.020000e+08,1.250000e+08,8.100000e+07,7.600000e+07,6.100000e+07,1.940000e+08,9.900000e+07,3.380000e+08,3.650000e+08,2.940000e+08,1.290000e+08,1.350000e+08,1.640000e+08,1.740000e+08,1.830000e+08,1.860000e+08,1.910000e+08,1.940000e+08,NaN

In [16]:
pd.set_option('display.float_format','{:,.of}'.format)

In [15]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"554,000,000.0","666,000,000.0","726,000,000.0","786,000,000.0","782,000,000.0","850,000,000.0","825,000,000.0","835,000,000.0","858,100,000.0","1,056,000,000.0","1,097,000,000.0","1,064,099,999.9999999","1,213,400,000.0","1,352,000,000.0","1,223,000,000.0","1,254,000,000.0","1,358,000,000.0","1,412,000,000.0","1,506,000,000.0","1,625,000,000.0","1,659,000,000.0","1,638,000,000.0",NaN
1,Afghanistan,AFG,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"47,000,000.0","90,000,000.0","169,000,000.0","152,000,000.0","177,000,000.0","191,000,000.0","92,000,000.0","88,000,000.0","51,000,000.0",NaN
2,Angola,AGO,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"27,000,000.0","38,000,000.0","24,000,000.0","39,000,000.0","31,000,000.0","34,000,000.0","35,000,000.0","51,000,000.0","63,000,000.0","82,000,000.0","103,000,000.0","91,000,000.0","236,000,000.0","293,000,000.0","554,000,000.0","726,000,000.0","653,000,000.0","711,000,000.0","1,241,000,000.0","1,597,000,000.0","1,171,000,000.0","628,000,000.0",NaN
3,Albania,ALB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"70,000,000.0","94,000,000.0","34,000,000.0","60,000,000.0","218,000,000.0","398,000,000.0","451,000,000.0","492,000,000.0","537,000,000.0","756,000,000.0","880,000,000.0","1,057,000,000.0","1,479,000,000.0","1,848,000,000.0","2,014,000,000.0","1,780,000,000.0","1,833,000,000.0","1,623,000,000.0","1,670,000,000.0","1,849,000,000.0","1,614,000,000.0","1,821,000,000.0",NaN
4,Andorra,AND,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"50,000,000.0","55,000,000.0","70,000,000.0","84,000,000.0","61,000,000.0","73,000,000.0","38,000,000.0","38,000,000.0","139,000,000.0","139,000,000.0","181,000,000.0","181,000,000.0","425,000,000.0","886,000,000.0","899,000,000.0","1,291,000,000.0","910,000,000.0","1,005,000,000.0","1,097,000,000.0","1,199,000,000.0","116,000,000.0",NaN,NaN
261,South Africa,ZAF,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"2,654,000,000.0","3,137,000,000.0","3,422,000,000.0","3,419,000,000.0","3,407,000,000.0","3,338,000,000.0","3,256,000,000.0","3,695,000,000.0","6,674,000,000.0","7,571,000,000.0","8,629,000,000.0","9,211,000,000.0","10,226,000,000.0","9,178,000,000.0","8,684,000,000.0","10,309,000,000.0","10,706,000,000.0","11,202,000,000.0","10,468,000,000.0","10,484,000,000.0","9,140,000,000.0","8,807,000,000.0",NaN
262,Zambia,ZMB,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,NaN,NaN,"29,000,000.0","40,000,000.0","53,000,000.0","67,000,000.0","80,000,000.0","64,000,000.0","88,000,000.0","92,000,000.0","447,000,000.0","506,000,000.0","599,000,000.0","542,000,000.0","474,000,000.0","492,000,000.0","555,000,000.0","518,000,000.0","552,000,000.0","642,000,000.0","660,000,000.0","683,000,000.0",NaN
263,Zimbabwe,ZWE,"International tourism, receipts (current US$)",ST.INT.RCPT.CD,"145,000,000.0","232,000,000.0","205,000,000.0","158,000,000.0","202,000,000.0","125,000,000.0","81,000,000.0","76,000,000.0","61,000,000.0","194,000,000.0","99,000,000.0","338,000,000.0","365,000,000.0","294,000,000.0","129,000,000.0","135,000,000.0","164,000,000.0","174,000,000.0","183,000,000.0","186,000,000.0","191,000,000.0","194,000,000.0",NaN

In [ ]:
s